<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ContentProviderServer"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:name=".PersonProvider"
                  android:authorities="cn.com.chenzheng_java.hello"
                  android:multiprocess="true" android:permission="cn.com.chenzheng_java.permission">
        </provider>

    </application>


    <!--
      permission中的android:name的值与provider中的android:permission的值是一样的
      android:protectionLevel 则代表了权限等级
   -->
    <permission android:name="cn.com.chenzheng_java.permission"
                android:protectionLevel="normal"></permission>
</manifest>
